@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@layer utilities {
  /* Custom font */
  .font-inter {
    font-family: "Inter", sans-serif;
  }
}

/* Tailwind custom colors */

:root {
  /* nav colors */
  --gradient-primary: linear-gradient(
    90deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );

  --gradient-secondary: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );


  /*  Background Colors */
  --bg-color: #1a0b2e;
 

  /*  Text Color  */
  --text-primary: #ffffff;
 

  /*  Border / Divider  */
  --border-color: rgba(65, 37, 103, 1);
  
}

/* Custom gradient */
@layer utilities {
  /* Custom gradient */
  .gradient-primary-text {
    background: var(--gradient-primary);
    background-clip: text;
    color: transparent;
  }

  .gradient-button {
    background: var(--gradient-secondary);
  }
}
